version: 2.1
orbs:
  aws-cli: circleci/aws-cli@2.0.6
  aws-s3: circleci/aws-s3@3.0.0

jobs:
  deploy_api:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup
      - add_ssh_keys:
          fingerprints:
            - 'f2:78:eb:b4:3c:b9:17:36:15:96:75:49:b3:e8:7b:c5'
      - run:
          name: deploy
          command: |
            ./deploy.sh
  build_and_deploy_app:
    docker:
      - image: cimg/node:17.1.0
    steps:
      - checkout
      - run:
          name: node_modules install
          command: yarn install
          working_directory: /home/circleci/project/app
      - run:
          name: create .env
          command: |
            ls -l
            echo VITE_API_URL=${VITE_API_URL} > /.env
          working_directory: /home/circleci/project/app
      - run:
          name: build
          command: yarn build
          working_directory: /home/circleci/project/app
      - aws-s3/sync:
          from: /home/circleci/project/app/dist
          to: 's3://kake-bo-s3'
          arguments: |
            --delete

workflows:
  build_and_deploy:
    jobs:
      - deploy_api:
          filters:
            branches:
              only: main
      - build_and_deploy_app:
          filters:
            branches:
              only: main
