version: 2.1
orbs:
  aws-cli: circleci/aws-cli@2.0.6
jobs:
  deploy_api:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup
      - add_ssh_keys:
          fingerprints:
            - 'd4:7b:88:4a:83:f7:3d:ec:4f:20:75:22:45:11:98:44'
      - run:
          name: deploy
          command: |
            deploy.sh
workflows:
  build_and_deploy:
    jobs:
      - deploy_api:
          filters:
            branches:
              only: main
