version: 2.1
orbs:
  aws-cli: circleci/aws-cli@2.0.6
  aws-s3: circleci/aws-s3@3.0.0

commands:
  npm_install:
    steps:
      working_directory: ~/app
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install npm
          command: yarn install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

jobs:
  deploy_api:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup
      - add_ssh_keys:
          fingerprints:
            - 'f2:78:eb:b4:3c:b9:17:36:15:96:75:49:b3:e8:7b:c5'
      - run:
          name: deploy
          command: |
            ./deploy.sh
  build_and_deploy_app:
    docker:
      - image: cimg/node:17.1.0
    steps:
      - checkout
      - npm_install
      - run:
          name: build
          command: yarn build
      - aws-s3/sync:
          from: dist
          to: 's3://kake-bo-s3'
          arguments: |
            --delete

workflows:
  build_and_deploy:
    jobs:
      - deploy_api:
          filters:
            branches:
              only: main
      - build_and_deploy_app:
          filters:
            branches:
              only: main
